/* import absolute */

/* import relative */

body{
    padding:20px
}

h1 {
    color: cornflowerblue;
}

/* reference image relative */
div.imgrel{
    width:128px;
    height:128px;
    background-image: url(../img/bg.png);
    display: inline-block;
}
/* reference image absolute */ 
div.imgabs{
    width:128px;
    height:128px;
    background-image: url(/img/bg.png);
    display: inline-block;
}